{% extends "ado/navbar.html.twig" %}

{% block title %}
	Capsule - Famille
{% endblock %}

{% block body %}
	<h1>Espace famille</h1>

	<i>** Coming soon **</i>

	<div class="col" style="margin: 100px">
		<a href="/ado/home" role="button" class="btn btn-dark">Retour à l'accueil</a>
	</div>
{% endblock %}
