{% extends "ado/navbar.html.twig" %}

{% block body %}
	<div class="container text-center">
		<div class="row" style="padding: 50px">
			<div class="col col-3">
				<p><img src="/{{user.profilePic}}" alt="Photo de profil" style="height: 20vw; max-height: 200px; width: auto"></p>
			</div>
			<div class="col col-9" style="text-align: left">
				<h1>Salut
					{{ user.firstName }}</h1>
				<p>Bienvenue dans ton profil privé Capsule !
					<br>Comment vas-tu ? C'est quoi le plan aujourd'hui ?
					<br>** Idée : plusieurs textes accueil aléatoires **</p>
			</div>
		</div>
		<div class="row row-cols-1 row-cols-md-5">
			<div class="col" style="padding: 0 1vw; margin-bottom: 2vw">
				<div class="adoHome" style="background: rgba(127,217,208, 1);">
					<a href="/ado/notes"><img src="/images/ado_notes.jpg" alt="post it" style="width: 80%; height: auto; border-radius: 25px"></a>
					<p class="adoHome" style="margin: 1vw 0 0 0">
						<a class="adoHome" href="/ado/notes">Tes notes</a>
					</p>
				</div>
			</div>
			<div class="col" style="padding: 0 1vw; margin-bottom: 2vw">
				<div class="adoHome" style="background: rgba(127,217,208, 0.8);">
					<img src="/images/62daf98d587b549878220ab20213db8d.jpg" alt="Ton journal" style="width: 80%; height: auto; border-radius: 25px" title="Coming soon">
					<p class="adoHome" style="margin: 1vw 0 0 0">
						<a class="adoHome" href="/ado/agenda">Espace famille</a>
					</p>
				</div>
			</div>
			<div class="col" style="padding: 0 1vw; margin-bottom: 2vw">
				<div class="adoHome" style="background: rgba(127,217,208, 0.6);">
					<a href="/ado/journal"><img src="/images/ado_journal.jpg" alt="post it" style="width: 80%; height: auto; border-radius: 25px"></a>
					<p class="adoHome" style="margin: 1vw 0 0 0">
						<a class="adoHome" href="/ado/journal">Ton journal</a>
					</p>
				</div>
			</div>
			<div class="col" style="padding: 0 1vw; margin-bottom: 2vw">
				<div class="adoHome" style="background: rgba(127,217,208, 0.4);">
					<a href="/ado/agenda"><img src="/images/ado_agenda.jpg" alt="post it" style="width: 80%; height: auto; border-radius: 25px"></a>
					<p class="adoHome" style="margin: 1vw 0 0 0">
						<a class="adoHome" href="/ado/agenda">Ton agenda</a>
					</p>
				</div>
			</div>
			<div class="col" style="padding: 0 1vw; margin-bottom: 2vw">
				<div class="adoHome" style="background: rgba(127,217,208, 0.2);">
					<a href="/ado/messages"><img src="/images/ado_messages.jpg" alt="post it" style="width: 80%; height: auto; border-radius: 25px"></a>
					<p class="adoHome" style="margin: 1vw 0 0 0">
						<a class="adoHome" href="/ado/messages">Tes messages</a>
					</p>
				</div>
			</div>
			<div class="col" style="padding: 0 1vw; margin-bottom: 2vw">
				<div class="adoHome" style="background: rgba(127,217,208, 1);">
					<a href="/ado/audiobooks"><img src="/images/ado_audiobooks.jpg" alt="post it" style="width: 80%; height: auto; border-radius: 25px"></a>
					<p class="adoHome" style="margin: 1vw 0 0 0">
						<a class="adoHome" href="/ado/audiobooks">Tes audiobooks</a>
					</p>
				</div>
			</div>
			<div class="col" style="padding: 0 1vw; margin-bottom: 2vw">
				<div class="adoHome" style="background: rgba(127,217,208, 0.8);">
					<img src="/images/ado_videos.jpg" alt="Ton journal" style="width: 80%; height: auto; border-radius: 25px" title="Coming soon">
					<p class="adoHome" style="margin: 1vw 0 0 0">
						<a class="adoHome" href="/ado/videos">Tes vidéos</a>
					</p>
				</div>
			</div>
			<div class="col" style="padding: 0 1vw; margin-bottom: 2vw">
				<div class="adoHome" style="background: rgba(127,217,208, 0.6);">
					<a href="/ado/podcasts"><img src="/images/ado_podcasts.jpg" alt="post it" style="width: 80%; height: auto; border-radius: 25px"></a>
					<p class="adoHome" style="margin: 1vw 0 0 0">
						<a class="adoHome" href="/ado/podcasts">Tes podcasts</a>
					</p>
				</div>
			</div>
			<div class="col" style="padding: 0 1vw; margin-bottom: 2vw">
				<div class="adoHome" style="background: rgba(127,217,208, 0.4);">
					<a href="/ado/news"><img src="/images/ado_news.jpg" alt="post it" style="width: 80%; height: auto; border-radius: 25px"></a>
					<p class="adoHome" style="margin: 1vw 0 0 0">
						<a class="adoHome" href="/ado/news">Les news</a>
					</p>
				</div>
			</div>
			<div class="col" style="padding: 0 1vw; margin-bottom: 2vw">
				<div class="adoHome" style="background: rgba(127,217,208, 0.2);">
					<a href="/ado/community"><img src="/images/ado_community.jpg" alt="post it" style="width: 80%; height: auto; border-radius: 25px"></a>
					<p class="adoHome" style="margin: 1vw 0 0 0">
						<a class="adoHome" href="/ado/community">Communauté</a>
					</p>
				</div>
			</div>
		</div>

		{# Ressources #}
		<div class="row" style="padding: 75px">
			<div>
				<img src="/images/landing_ressources.png" alt="landing_ressources.png" style="margin-bottom: 25px; max-width:400px; width:100vw"><br>
			</div>

			<h5>VIDEOS</h5>
			<div class="row row-cols-1 row-cols-md-3 mb-3">
				<div class="col">
					<iframe style="width:75vw; max-width:300px; height:75vw; max-height:300px" border-radius="20%" src="https://www.youtube.com/embed/k17Ul2eTzus" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
				</div>
				<div class="col">
					<iframe style="width:75vw; max-width:300px; height:75vw; max-height:300px" src="https://www.youtube.com/embed/eqCyYR_bGDE?controls=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
				</div>
				<div class="col">
					<iframe style="width:75vw; max-width:300px; height:75vw; max-height:300px" src="https://www.youtube.com/embed/GPPK-qqtmCU?controls=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
				</div>
			</div>

			<h5>PODCASTS</h5>
			<div class="row row-cols-1 row-cols-md-3 mb-3">
				<div class="col">
					<img src="/images/landing_podcast.png" style="border-radius: 50%; max-height:250px; max-width:250px" alt="landing_podcast.png">
					<br>Podcast 1
				</div>
				<div class="col">
					<img src="/images/landing_podcast.png" style="border-radius: 50%; max-height:250px; max-width:250px" alt="landing_podcast.png">
					<br>Podcast 2
				</div>
				<div class="col">
					<img src="/images/landing_podcast.png" style="border-radius: 50%; max-height:250px; max-width:250px" alt="landing_podcast.png">
					<br>Podcast 3
				</div>
			</div>

			<h5>AUDIOBOOKS</h5>
			<div class="row row-cols-1 row-cols-md-3 mb-3">
				<div class="col">
					<img src="/images/landing_audiobooks.png" style="border-radius: 50%; max-height:250px; max-width:250px" alt="landing_podcast.png">
					<br>Livre audio 1
				</div>
				<div class="col">
					<img src="/images/landing_audiobooks.png" style="border-radius: 50%; max-height:250px; max-width:250px" alt="landing_podcast.png">
					<br>Livre audio 2
				</div>
				<div class="col">
					<img src="/images/landing_audiobooks.png" style="border-radius: 50%; max-height:250px; max-width:250px" alt="landing_podcast.png">
					<br>Livre audio 3
				</div>
			</div>

		</div>
	</div>


{% endblock %}
