{% extends "ado/navbar.html.twig" %}

{% block title %}
	Capsule - Timing
{% endblock %}

{% block body %}
	<h1>Prochain rdv dans</h1>

	<i>** idée : laisser la possibilité au jeune de créer son propre décompte, pour un événement qui lui tient à coeur **<br>
		** idée : pouvoir (mais pas obligatoire) le partager avec le praticien, le créer 'en live' pendant une visio **</i>


	<div class="col" style="margin: 100px">
		<a href="/ado/home" role="button" class="btn btn-dark">Retour à l'accueil</a>
	</div>
{% endblock %}
