{% extends "base.html.twig" %}
{% block title %}
	Capsule - Pro
{% endblock %}

{# barre de navigation #}
{% block navbar %}

	<nav class="navbar navbar-expand-sm sticky-top" style="padding: 0; background: rgb(255,237,121);">
		<div class="container-fluid">
			<a class="navbar-brand" href="/"><img src="/images/Logo.png" alt="Logo Capsule" width="40" height="48.2"></a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent" style="width: 100%">
				<div class="navbar-nav" style="width: 100%">
					<a class="nav-link active" aria-current="page" href="/pro/home">Accueil</a>
					<a class="nav-link active" aria-current="page" href="/pro/patients">Patients</a>
					<a class="nav-link active" aria-current="page" href="/#">Calendrier</a>
					<a class="nav-link" aria-current="page" href="#" onmouseover="Coming soon">Messages</a>
					<a class="nav-link active" aria-current="page" href="#">Bloc note</a>
					<a class="nav-link active" aria-current="page" href="#">Capsule TV</a>
					<a data-bs-toggle="offcanvas" href="#offcanvasExample" role="button" aria-controls="offcanvasExample" class="btn">{{user.firstName}}
						{{user.name}}</a>

				</div>
			</div>
		</div>
	</nav>


	{# <div class="navbar sticky-top" style="padding-top: 0;background: rgba(255,222,16,0.5);">
											<div class="container-fluid">
												<a class="navbar-brand" href="/ado/home"><img src="/images/Logo.png" alt="Logo Capsule" width="40" height="48.2"></a>
												<a href="/ado/agenda" style="color:black; text-decoration:none">Mes RDV</a>
												<span style="color:grey; text-decoration:none" title="Coming soon">News</span>
												<a href="/ado/videos" style="color:black; text-decoration:none">Ressources</a>
												<a href="/ado/messages" style="color:black; text-decoration:none">Messages</a>
												<a data-bs-toggle="offcanvas" href="#offcanvasExample" role="button" aria-controls="offcanvasExample" class="btn">{{user.firstName}}
													{{user.name}}</a>
											</div>
										</div> #}
{% endblock %}

{% block body %}
	{% block content %}{% endblock %}
{% endblock %}
