{% extends "base-js.html.twig" %}

{% block body %}
	<h1>Liste des ressources</h1>

	<a data-bs-toggle="offcanvas" href="#ressources_add" role="button" aria-controls="offcanvasExample">
		<h1>Ajouter une ressources : form & upload</h1>
	</a>
	{#
	<p>
		{{ post.url}}
		<br>
		{{post.file}}
	</p>
	#}
	{# barre latérale amovible #}
	<div class="offcanvas offcanvas-end" tabindex="-1" id="ressources_add" aria-labelledby="offcanvasExampleLabel" style="text-align: center">
		<div class="offcanvas-header">
			<h1>Ajouter une ressources</h1>
		</div>
		<div class="offcanvas-body" style="color: black">
			<div>
				<h5>Déposer une vidéo hébergée</h5>
				<form enctype="multipart/form-data" method="POST" action="/admin/ressources">
					<p>
						<input type="hidden" name="type" value="video">
						<label for="hosts">Hébergeur :</label>
						<select id="hosts" name="source">
							<option value="youtube">YouTube</option>
						</select>
					</p>
					<p><input type="url" name="url" placeholder="url de la vidéo"></p>
					<p><input type="text" name="author" placeholder="auteur / crédit de la vidéo"></p>
					<p><input type="submit" value="Enregistrer"></p>
				</form>
				<p>
					<form enctype="multipart/form-data" method="POST" action="/admin/ressources">
						<fieldset>
							<legend>Déposer une illustration</legend>
							<input type="hidden" name="MAX_FILE_SIZE" value="30000"/>
							<input type="file" name="file">
						</fieldset>
					</p>
				</p>
				<p>
					<fieldset>
						<legend>Uploader un fichier audio</legend>
						<input type="hidden" name="MAX_FILE_SIZE" value="30000"/>
						<input type="file" name="file"></fieldset>
				</p>
				<p>
					<fieldset>
						<legend>Uploader un fichier vidéo</legend>
						<input type="hidden" name="MAX_FILE_SIZE" value="30000"/>
						<input type="file" name="file"></fieldset>
				</p>
				<p><input class="btn btn-primary" type="submit" value="Déposer"></p>
			</form>
		</div>
	</div>
</div>

{# Affichage des ressources en collections #}
<div class="row" style="padding: 75px">

	<h5 style="margin-top: 15px">VIDEOS</h5>
	<div class="row row-cols-1 row-cols-md-3 mb-3">
		{% for video in videos %}
			<div class="col">
				<iframe style="width:75vw; max-width:400px; height:75vw; max-height:400px" border-radius="20%" src={{video.url}} title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
				<br>Crédits :
				{{video.author}}
			</div>
		{% endfor %}
	</div>
	<form action="/ressources" method="post">
		<input type="hidden" name="type" value="videos">
		<input type="submit" value="Plus de vidéos =>">
	</form>

	<h5 style="margin-top: 25px">PODCASTS</h5>
	<div class="row row-cols-1 row-cols-md-3 mb-3">
		<div class="col">
			<img src="/images/landing_podcast.png" style="border-radius: 50%; max-height:300px; max-width:300px" alt="landing_podcast.png">
			<br>Podcast 1
		</div>
		<div class="col">
			<img src="/images/landing_podcast.png" style="border-radius: 50%; max-height:300px; max-width:300px" alt="landing_podcast.png">
			<br>Podcast 2
		</div>
		<div class="col">
			<img src="/images/landing_podcast.png" style="border-radius: 50%; max-height:300px; max-width:300px" alt="landing_podcast.png">
			<br>Podcast 3
		</div>
	</div>
	<form action="/ressources" method="post">
		<input type="hidden" name="type" value="podcasts">
		<input type="submit" value="Plus de podcasts =>">
	</form>

	<h5 style="margin-top: 25px">AUDIOBOOKS</h5>
	<div class="row row-cols-1 row-cols-md-3 mb-3">
		<div class="col">
			<img src="/images/landing_audiobooks.png" style="border-radius: 50%; max-height:300px; max-width:300px" alt="landing_podcast.png">
			<br>Livre audio 1
		</div>
		<div class="col">
			<img src="/images/landing_audiobooks.png" style="border-radius: 50%; max-height:300px; max-width:300px" alt="landing_podcast.png">
			<br>Livre audio 2
		</div>
		<div class="col">
			<img src="/images/landing_audiobooks.png" style="border-radius: 50%; max-height:300px; max-width:300px" alt="landing_podcast.png">
			<br>Livre audio 3
		</div>
	</div>
	<form action="/ressources" method="post">
		<input type="hidden" name="type" value="audiobooks">
		<input type="submit" value="Plus d'audiobooks =>">
	</form>

</div>{% endblock %}
