{% extends "admin/navbar.html.twig" %}

{% block title %}
	Capsule - Mot de passe
{% endblock %}

{% block body %}
	<form method="post">
		<input type="password" name="old" placeholder="Ancien mot de passe" required><br>
		<input type="password" name="new" placeholder="Nouveau mot de passe" required><br>
		<input type="password" name="repeat" placeholder="Resaisir le nouveau mot de passe" required><br>
		<input type="submit" value="Enregistrer">
	</form>

{% endblock %}
