<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>
			{% block title %}Capsule - Visio
			{% endblock %}
		</title>
		{% block stylesheet %}
			<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
			<link rel="stylesheet" href="/css/capsule.css">
		{% endblock %}
		{% block favicon %}
			<link rel="shortcut icon" href="/images/logo.png" sizes="16x16" type="image/x-icon">
		{% endblock %}
		<script src='https://8x8.vc/external_api.js' async></script>
		<style>
			html,
			body,
			#meet {
				height: 100%;
			}
		</style>
		<div class="js-data" data-domain="{{domain}}" data-room="{{room}}" data-jwt="{{jwt}}"></div>
		<script type="text/javascript">
			let api;
var data = document.querySelector('.js-data')

const initIframeAPI = () => {
const domain = data.dataset.domain;
const options = {
roomName: data.dataset.room,
jwt: data.dataset.jwt,
parentNode: document.querySelector('#meet')
};
api = new JitsiMeetExternalAPI(domain, options);
api.executeCommand('localSubject', 'New Conference Local Subject');
}


window.onload = () => {
initIframeAPI();
}
		</script>
	</head>


	{% block body %}
		<div id="meet"/>
	{% endblock %}
</html>
