{% extends "admin/base.html.twig" %}

{% block title %}Capsule - Visio
{% endblock %}

{% block script %}
	<script src='https://8x8.vc/external_api.js' async></script>
	<style>
		html,
		body,
		#meet {
			height: 100vh;
		}
	</style>
	<div class="js-data" data-domain="{{domain}}" data-room="{{room}}" data-jwt="{{jwt}}" data-subject="{{subject}}"></div>
	<script type="text/javascript">
		let api;
var data = document.querySelector('.js-data')

const initIframeAPI = () => {
const domain = data.dataset.domain;
const options = {
roomName: data.dataset.room,
jwt: data.dataset.jwt,
parentNode: document.querySelector('#meet')
};

api = new JitsiMeetExternalAPI(domain, options);
api.executeCommand('subject', data.dataset.subject);
}

window.onload = () => {
initIframeAPI();
}
	</script>
{% endblock %}
{% block body %}
	<div id="meet"/>
{% endblock %}
