{% extends 'base-js.html.twig' %}

{% block title %}Login{% endblock %}

{% block body %}
	<div class="mx-auto py-16 md:py-20 lg:py-24 px-10">
		<div {{ react_component('App', { userObj: user, userRole: role }) }}></div>
	</div>
{% endblock %}