{% extends 'base-js.html.twig' %}

{% block title %}Login{% endblock %}

{% block body %}
	<div class="bg-white">
		<div class="mx-auto max-w-7xl py-16 px-4 sm:py-24 sm:px-6 lg:px-8">
			<div {{ react_component('LoginForm') }}></div>
		</div>
	</div>
{% endblock %}