<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>{% block title %}{% endblock %}</title>
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
		<link rel="stylesheet" href="/css/capsule.css">
		<script src="/scripts/popper.js"></script>
		<script src="/scripts/bootstrap.js"></script>

		{# {% block favicon %}<link rel="shortcut icon" href="/images/logo.png" sizes="16x16" type="image/x-icon">{% endblock %} #}
	</head>
	<body style="width: 100%;"> 

		{# {% if flash %}<div class="alert alert-warning text-center">{{flash|raw}}</div>{% endif %} #}

		<nav class="navbar navbar-expand-lg navbar-light bg-light d-flex py-2 px-4 justify-content-between">
			<a class="navbar-brand" href="/">Capsule</a>

			<div>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				
				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<div class="d-flex gap-2">
						<ul class="navbar-nav mr-auto d-flex gap-1">
							<li class="nav-item active">
								<a class="nav-link" href="/">Home</a>
							</li>
						</ul>
						<button class="btn btn-outline-success my-2 my-sm-0" type="button" id="loginButton">Se Connecter</button>
						<button class="btn btn-outline-success my-2 my-sm-0" type="button" id="signupButton">S'inscrire</button>
					</div>
				</div>
			</div>
		</nav>

		<div class="container">{% block body %}{% endblock %}</div>

		<footer class="d-flex flex-column gap-3 py-4">
			<div class="d-flex flex-row justify-content-center gap-2">
				<a href="https://www.facebook.com/Capsule.ado" target="_blank"><img src="/images/logo_fb.png" alt="Facebook"></a>

				<a href="https://www.instagram.com/capsule.ado/" target="_blank"><img src="/images/logo_insta.png" alt="Instagram"></a>

				<a href="https://www.tiktok.com/@gaellepelloille" target="_blank"><img src="/images/logo_tiktok.png" alt="TikTok"></a>

				<a href="https://twitter.com/CapsuleAdo" target="_blank"><img src="/images/logo_tw.png" alt="Twitter"></a>

				<a href="https://www.linkedin.com/showcase/capsule-ado/" target="_blank"><img src="/images/logo_li.png" alt="LinkedIn"></a>
			</div>
			<div class="d-flex flex-row justify-content-center gap-2">
				<u><a href="/mentions">Mentions légales</a></u>
				<u><a href="/rgpd">RGPD</a></u>
				<u><a href="/cgs">Conditions générales de service</a></u>
				<u><a href="/faq">FAQ</a></u>
				<p>&copy;Capsule 2023</p>
			</div>
		</footer>

		{# {% if role == 'SuperAdmin' %}{% block admin %}{% endblock %}{% endif %} #}

		<script>
			document.getElementById('loginButton').addEventListener('click', function() {
				window.location.href = '/login';
			});

			document.getElementById('signupButton').addEventListener('click', function() {
				window.location.href = '/signup';
			});
		</script>
	</body>
</html>
