{% extends "landing/navbar.html.twig" %}
{% block title %}
	Capsule - CGS
{% endblock %}
{% block body %}

	<h1>Design à imaginer</h1>
	<div class="col" style="margin: 100px">
		<a href="/" role="button" class="btn btn-dark">Retour à l'accueil</a>
	</div>

{% endblock %}
