{% extends "base-js.html.twig" %}
{% block title %}
	Capsule - Mentions légales
{% endblock %}
{% block body %}
	<div class="container" style="margin: 20px auto">
		<div class="row">
			<div class="col">
				<p>
					<b>Le site capsule-ado.com est la propriété de GACKAO SAS</b>
				</p>

				<h3 style="margin-top : 40px">Identification de l'éditeur</h3>
				<p>Capsule est porté par la SAS GACKAO,
					<br>domiciliée chez Now Coworking, 53bis Boulevard des Belges 76000 ROUEN
					<br>Contact téléphonique : 06.76.85.31.51
					<br>Pour nous contacter par email : cliquez ici
					<br>SIREN : 922641766
					<br>Numéro de TVA : FR46922641766
					<br>Immariculée au RCS de Rouen (76 - France)
					<br>Code APE : 6312Z - Portails Internet
					<br>Capital social : 20 000 €</p>

				<h3 style="margin-top : 40px">Directrice de la publication</h3>
				<p>Gaëlle Pelloille, Présidente de la SAS GACKAO</p>

				<h3 style="margin-top : 40px;">Hébergement</h3>
				<p>Ce site est hébergé par :
					<br>OVH
					<br>2 Rue Kellermann 59100 ROUBAIX
					<br>SAS au capital de 10 174 560 €
					<br>Téléphone : 08.99.70.17.61</p>

				<h3 style="margin-top : 40px;">Illustrations</h3>
				<p style="margin-bottom: 40px">
					<a href="vecteezy.com">Vecteezy.com</a>
				</p>
			</div>


		</div>
		<a href="/" role="button" class="btn btn-dark">Retour à l'accueil</a>
	</div>


{% endblock %}
