{% extends "base-js.html.twig" %}
{% block title %}
	Capsule - Parent
{% endblock %}
{% block body %}
	{# Image accueil #}
	<div class="container-fluid text-center" style="padding: 0">
		<div class="row" style="margin-top: -70px">
			<img src="images/landing_parent.jpg" alt="image d'accueil" style="width: 100%">
		</div>
	</div>

	{# Problématique #}
	<div class="container row" style="padding: 75px; margin: 0 auto">
		<h1>Aujourd'hui, vous avez envie de dire
			<br>
			Attends... pause ! Explique-moi ! !</h1>
		<p>Texte sur les problématiques rencontrées</p>
	</div>

	{# Solutions #}
	<div class="container row" style="padding: 75px; margin: 0 auto">
		<h1>
			Capsule répond présent</h1>
		<p>Texte sur les atouts de capsule et ses fonctionnalités</p>
	</div>

	{# Fonctionnalités #}
	<div class="container row" style="padding: 75px; margin: 0 auto">
		<h1>Capsule c'est</h1>
		<div class="col col-4">Un accès aux consultations</div>
		<div class="col col-4">Ton profil utilisateur interactif</div>
		<div class="col col-4">Du contenu sur mesure</div>
	</div>

	{# Inscription #}
	<div class="container row" style="padding: 75px; margin: 0 auto">
		<div class="flex row justify-center w-full" style="">
			<a type="button" href="signup" class="btn btn-lg w-fit" style="margin: 0 auto; background-color: rgba(48, 180, 167, 1); color: white; font-size: x-large">Je m'inscris</a>
		</div>
	</div>
{% endblock %}
