{% extends 'base-js.html.twig' %}

{% block title %}Signup{% endblock %}

{% block body %}
	<div class="d-flex flex-column py-5">
		<div {{ react_component('SignupForm') }}></div>
	</div>
{% endblock %}